body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

.contenedor {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #e2dfdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.barra-lateral {
    width: 20%;
    padding: 20px;
    background-color: #fabc75;
    color: rgb(15, 12, 12);
    text-align: center;
}

.barra-lateral img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 150px;
    position: relative;
    top: 150px;
}

.barra-lateral h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contenido-principal {
    width: 70%;
    padding: 20px;
}

.contenido-principal h2 {
    border-bottom: 2px solid #fabc75;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #333;
}

.estudios ul, .experiencia ul, .Formación ul {
    list-style-type: none;
    padding: 10;
}

.estudios ul li, .experiencia ul li, .Formación ul li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #fabc75;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #face9c;
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: #e2dfdf;
}
